.main {
  display: grid;
  grid-template-columns: 100%;
  /* background-color: rgb(38, 42, 51); */
  min-height: 100vh;
}

.chartArea {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr,1fr,1fr,1fr;

}

.chart1 {
    grid-column-start: 1;
    grid-column-end: 7;  
    background-color: rgb(38, 42, 51);
    color: white;
    width: 100%;
    padding:5px;
    font-size: 90%;
    text-align: left;
}

.chart2 {
  grid-column-start: 7;
  grid-column-end: 12;  
  background-color: rgb(38, 42, 51);
  color: white;
  width: 100%;
  padding:5px;
  font-size: 90%;
  text-align: left;
}

.white {

  color: white;
}

.largeNumber {
  font-size: 50px;
  background-color: rgb(38, 42, 51);
    color: white;
}